.cartecredit{
   
   background-image: url("dreditcard.png");
   background-size: cover;
    margin-top: 50px;
    height: 500px;
    width: 800px;
    margin-left:500px ;
    z-index: 1;
}
  .infos{
      margin-top: 270px;
      position: absolute;
      margin-left: 100px;
  }
  h3{
      margin-top: 60px;
      margin-left: 400px;
  }
  h2{margin-top: 25px;}